@use "sass:math";
@import "size";

header {
    @include size();
    background-color: lightgray;
    text-align: left;
    padding: 10px;
    display: flex;

    img {
        @include size(50px, 50px);
        margin-left: 20px;
    }

    h1 {
        color: rgb(241, 124, 124);
        padding: 5px;
    }
}