.add-to-playlist-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;

    &.show {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.add-to-playlist-modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-to-playlist-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.add-button,
.create-playlist-button {
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;

    &:hover {
        background: #0056b3;
    }
}

.button-container {
    display: flex;
    justify-content: center;
}

.add-button-container,
.create-playlist-button-container {
    display: flex;
    justify-content: center;
}

.close-button {
    background: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;

    &:hover {
        background: #c82333;
    }
}